{
  "singleQuote": true,
  "trailingComma": "all",
  "spaceBeforeFunctionParen": true,
  "breakBeforeElse": true,
  "arrayExpand": true,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
}